/* Left navbar block. */
#nav-bar-left-container {
    /*margin-right: 1100px;*/
    padding-left: 65px;
}

/* Right navbar block. */
#nav-bar-right-container{
   /*margin-left: 600px;*/
   padding-right: 70px;
}


/* 'Edit' button in schemas table. */
#delete-button {
    margin-left: 17px;
    float:left;
}

/* 'Delete' button in schemas table. */
#edit-button {
    float:left;
}


/* Data sets. */
.progress-bar {
    float: none; !important;
}


/* Make items in the center of the screen*/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Margins for tables. */
.content-table {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 30px;
}


.title {
    width: 238.85px;
    font-size: 24px;
    line-height: 26px;
}


.schema-form-wrapper {
    margin-top: 10px;
    /*margin-left: -14px;*/
}


#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
#login-form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
