<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Internal JS -->
        <script>var rangedTypes = '{{ranged_types}}';</script>
        <script src="{% static 'js/form/add_fields.js' %}"></script>
        <script src="{% static 'js/form/add_form.js' %}"></script>
        <script src="{% static 'js/form/delete_form.js' %}"></script>
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
        <script src="{% static 'js/progress_bar/result.js' %}"></script>
        <!-- Internal CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <!-- External CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- External JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
        <title>{% block title %}FakeCSV{% endblock %}</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
                <div class="container-fluid">

                    <div id="nav-bar-left-container">
                        <div class="collapse show navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="navbar-brand" href="{% url 'schemas:data_sets' %}" style="color: black;">FakeCSV</a>
                                <a class="nav-item nav-link active" href="{% url 'schemas:schemas' %}">Schemas</a>
                            </div>
                        </div>
                    </div>

                    <div id="nav-bar-right-container">
                        <div class="collapse show navbar-collapse">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link disabled" href="#">Hello, <b>{{ user.get_username }}</b></a>
                                <a class="nav-item nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endif %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
