<div id='column_form_wrapper-{% if form.DELETE %}{{ form.DELETE.id_for_label }}{% else %}{{ form.prefix }}-DELETE{% endif %}'>

    <div class="form-row">

        <div class="form-group col-md-3">
            {{ form.name.label }}
            {{ form.name }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="form-control is-invalid">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group col-md-3">
            {{ form.type.label }}
            {{ form.type }}
            {% if form.type.errors %}
                {% for error in form.type.errors %}
                    <div class="form-control is-invalid">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="min-max-form-block-{{ form.type.id_for_label }}" class="{% if form.type.value in ranged_types %}visible{% else %}invisible{% endif %}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form.min.label }}
                    {{ form.min }}
                </div>
                <div class="form-group col-md-3">
                    {{ form.max.label }}
                    {{ form.max }}
                </div>
            </div>

            {% if form.min.errors %}
                {% for error in form.min.errors %}
                    <div class="form-control is-invalid">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {% if form.max.errors %}
                {% for error in form.max.errors %}
                    <div class="form-control is-invalid">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-row">
            <div class="form-group col-md-10">
                {{ form.ORDER.label }}
                {{ form.ORDER }}
                {% if form.ORDER.errors %}
                    {% for error in form.ORDER.errors %}
                        <div class="form-control is-invalid">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group col-md-2">
                {% if form.DELETE %}
                    {% if prefix == 'update_column' %}
                        <!-- Generate not empty delete field for update.-->
                        {{ form.DELETE.label }} {{ form.DELETE }}
                    {% else %}
                        <!-- Generate not empty delete button for create view.-->
                        <label></label>
                        <a type="button" style="color:red;" name="{{ form.DELETE.name_for_label }}" id="{{ form.DELETE.id_for_label }}" class="btn btn-default" onclick="deleteForm('{{ prefix }}', this)">Delete</a>
                    {% endif %}
                {% else %}
                    <!-- Generate empty delete field.-->
                    <label></label>
                    <a type="button" style="color:red;" name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE" class="btn btn-default" onclick="deleteForm('{{ prefix }}', this)">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form.id }}
    {{ form.order }}
</div>
