{% extends "base.html" %}
{% block content %}
    <div class="centered">
        <form action="" method="post">
            {% csrf_token %}
            <h4>Deleting schema: <a href="{% url 'schemas:edit' schema.id %}">{{ object.name }}</a></h4>
            <h4>Are you sure?</h4>
            <input type="submit" class="btn btn-danger" value="Delete schema"/>
            <a class="btn btn-primary" href="{% url 'schemas:schemas' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
