{% extends "base.html" %}
{% block content %}

<div id="data-sets-list-wrapper" class="content-table">

    {% if data_sets %}
        <div class="content-table-title">
            <b class="title">Data sets</b>
            <form method="get" action="{% url 'schemas:generate' %}" class="form-inline float-right">
                {% csrf_token %}
                <div class="form-group mb-2">{{ form.rows.label_tag }}</div>
                <div class="form-group mx-sm-3 mb-2">{{ form.rows }}</div>
                <input class="btn btn-success mb-2" type="submit" value="Generate data">
            </form>
        </div>

        <table class="table table-bordered table-hover" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for schema in data_sets %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'schemas:edit' schema.id %}">{{ schema.name }}</a></td>
                        <td>{{ schema.timestamp|date:"Y-m-d" }}</td>

                        {% if schema.csv_file %}
                            <td><button class="btn btn-success btn-sm" style="pointer-events: none"><b>Ready</b></button></td>
                            <td><a href="{% url 'schemas:download' schema.id %}">Download</a></td>
                        {% else %}
                            <td>
                                <div style="width: 75%;" id='progress-bar-{{ schema.id }}' class='progress-bar progress-bar-striped progress-bar-animated' role="progressbar">
                                    <div id="progress-bar-message-{{ schema.id }}">Waiting for start...</div>
                                </div>
                            </td>
                            <td id="celery-result-{{ schema.id }}"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" with page_obj=page_obj %}
        <!-- Set 'celery-progress' progress bars.-->
        <script>
            {% for id, schema_id in task_ids %}
                document.addEventListener("DOMContentLoaded", function () {
                      var progressUrl = "{% url 'celery_progress:task_status' id %}";
                      CeleryProgressBar.initProgressBar(progressUrl, {
                        pollInterval: 4000,
                        onResult: customResult,
                        progressBarId: 'progress-bar-{{ schema_id }}',
                        progressBarMessageId: 'progress-bar-message-{{ schema_id }}',
                        resultElementId: 'celery-result-{{ schema_id }}',
                      })
                });
            {% endfor %}
        </script>
    {% else %}
        <b class="title">Data sets</b>
        <p>No Data sets available.</p>
        <a class="btn btn-primary" href="{% url 'schemas:create' %}">Create New Schema</a>
    {% endif %}
</div>
{% endblock %}
