{% extends "base.html" %}
{% block content %}

<div id class="min-vh-100" style="padding-top: 200px">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Login</h1>
                    <div class="px-2">
                        <form id="login-form" method="post" action="{% url 'login' %}" class="justify-content-center">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="{{ form.username.id_for_label }}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" type="password" name="password" autocomplete="current-password" required="" id="{{ form.password.id_for_label }}">
                            </div>
                            {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            <button type="submit" class="btn btn-primary btn-lg float-right">Login</button>
                            <input type="hidden" name="next" value="{{ next }}">
                            <input type="hidden" name="next" value="{% url 'schemas:schemas' %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
