{% extends "base.html" %}
{% block content %}
<div id="schema-list-wrapper" class="content-table">

    <b class="title">{{ title }}</b>

    <div class="schema-form-wrapper">
        <form method="post">
            <input class="btn btn-primary float-right" type="submit" value="Submit">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group col-md-6">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}

            <fieldset>
                <b class="title">Schema columns</b>
                {{ column_formset.management_form }}
                <div id="formset_wrapper">
                    {% for form in column_formset.forms %}
                        {% include "column_form.html" with form=form prefix=column_formset.prefix %}
                    {% endfor %}
                    {{ column_formset.non_form_errors }}
                </div>
                <input type="button" id="add_column_form" class="btn btn-primary" value="Add column">
            </fieldset>
        </form>
    </div>

    <!-- Add 'min' and 'max' fields to form on select change.-->
    <script>
        $('select[id*="type"]').change(function () {
            addFields(this, "{{ ranged_types }}");
        }).change();
    </script>

    <!-- Add new empty form to formset on click.-->
    <script>
        $('#add_column_form').click(function() {
            addForm('{{ column_formset.prefix }}', '{{ column_formset.templated_empty_form|escapejs }}');
        });
    </script>

</div>
{% endblock %}
