{% extends "base.html" %}
{% block content %}

<div id="schemas_list_wrapper" class="content-table">

    <div class="content-table-title">
        <b class="title">Data schemas</b>
        <form action="{% url 'schemas:create' %}" class="form-inline float-right">
            {% csrf_token %}
            <div class="form-group mb-2">{{ form.rows.label_tag }}</div>
            <div class="form-group mx-sm-3 mb-2">{{ form.rows }}</div>
            <input class="btn btn-success mb-2" type="submit" value="New schema">
        </form>
    </div>

    {% if schemas %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for schema in schemas %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'schemas:edit' schema.id %}">{{ schema.name }}</a></td>
                        <td>{{ schema.timestamp|date:"Y-m-d" }}</td>
                        <td>
                            <div id="edit-button">
                                <a href="{% url 'schemas:edit' schema.id %}">Edit schema</a>
                            </div>
                            <div id="delete-button">
                                <a style="color: #D9534F;" href="{% url 'schemas:delete' schema.id %}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "pagination.html" with page_obj=page_obj %}

    {% else %}
        <p>No schemas are available.</p>
    {% endif %}
  </div>
{% endblock %}
